.grid {
  width: 600px;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
  /* background-color: #fff; */
  padding: 10px 50px 50px 50px;
  border-radius: 50px;
  border: 2px solid #cbcbcb;
  box-shadow: 10px 15px 5px #cbcbcb;
}

.grid h1 {
  height: 50px;
  line-height: 50px;
  font-family: sans-serif;
  background-color: #5a6772;
  font-size: 45px;
  text-align: center;
  color: #f2f2f2;
  padding: 2px 0px;
  border-radius: 50px;
}

.grid #question {
  font-family: sans-serif;
  font-size: 30px;
  color: #5a6772;
}

.buttons {
  margin-top: 30px;
}

#btn0,
#btn1,
#btn2,
#btn3 {
  width: 250px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  border: 1px solid #1d3c6a;
  border-radius: 50px;
  margin: 10px 40px 10px 0px;
  padding: 10px 10px;
}

#btn0 {
  background-color: #ea5080;
  color: #f2f2f2;
}

#btn1 {
  background-color: #53bfe2;
  color: #f2f2f2;
}

#btn2 {
  background-color: #00c08b;
  color: #f2f2f2;
}

#btn3 {
  background-color: #df6dc2;
  color: #f2f2f2;
}

#score {
  color: #5a6772;
  text-align: center;
  font-size: 30px;
}

#progress {
  color: #5a6772;
  font-size: 18px;
}

#btn0:hover {
  cursor: pointer;
  background-color: #aa2a52;
}

#btn1:hover {
  cursor: pointer;
  background-color: #2884a2;
}

#btn2:hover {
  cursor: pointer;
  background-color: #127a5d;
}

#btn3:hover {
  cursor: pointer;
  background-color: #9f3c85;
}

#btn0:focus,
#btn1:focus,
#btn2:focus,
#btn3:focus {
  outline: 0;
}
